
<span *ngIf="objeto==null || objeto.count == 0">  
  <div class="alert alert-danger" role="alert">
      <span>No se encontro tu ciudad</span>
    </div>
</span>
<span *ngIf="esperaRespuesta" >
  <div class="alert alert-danger" role="alert">
    <span>Esperando respuesta...</span>
  </div>
</span>
<span *ngIf="objeto?.count">{{ objeto?.count }} Resultado!</span>




    <div class="card text-white bg-primary mb-3" *ngFor="let city of objeto?.list" style="max-width: 18rem;">
            <h4 class="card-header">{{ city.name }}</h4>
            <div class="card-body">
              <h5 class="card-title">({{ city.coord.lat }}, {{ city.coord.lon }})</h5>
              <p class="card-text">La temperatura actual es {{ city.main.temp | centigrado }} con una humedad del {{ city.main.humidity | wind }} </p>
            </div>
          </div>