
<button type="button" class="btn btn-primary" (click)="openAddModal(taskCreation)">Create template modal</button>
 
<ng-template #taskCreation>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nueva tarea</h4>
    <!-- boton cerrar formulario -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
      <form [formGroup]="newTaskForm">
          <label for="title">Titulo:</label>
          <input id="title" type="text" formControlName="title" class="form-control">
          <label for="description">Descripcion:</label>
          <input id="description" type="text" formControlName="description" class="form-control">
          <label for="deadline">Realizar antes de:</label>
      <input id="deadline" type="text" formControlName="deadline" class="form-control"
       bsDatepicker [bsConfig]="{ adaptivePosition: true }">
       <label for="date" type="text" >Fecha de creacion</label>
       <input id="date" type="text" formControlName="date" class="form-control" bsDatepicker disabled>
       <label for="date" type="text" >Realizacion</label>
       <input id="realizada" type="text" formControlName="realizada" class="form-control" disabled placeholder="No realizada">
      </form>
  
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" (click)="confirmTask()" >Confirmar</button>
  </div>
</ng-template>
    